.category-link {
    background-color: #b62020;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 14px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin: 2px;
    font-size: 15px;
}

    .category-link:link, .category-link:visited, .category-link:hover, .category-link:active {
        color: white;
        text-decoration: none;
    }

.category-link-active {
    background-color: #ff6a00;
}

.categories-container {
    margin-top: 100px;
    padding-left: 50px;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

.games-container{
    margin-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
}

.game-container {
    width: 300px;
    height: 350px;
    float: left;
    margin: 10px;
    padding: 0 0 0 0;
    position: relative;
}

.game-img{
    height: 180px;
    width: 100%;
}

.game-info{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.game-info-name {
    font-size: 25px;
    font-weight: bold;
}

.game-info-description {
}

.game-info-play-btn {
    width: 96%;
    height: 40px;
    position: absolute;
    bottom: 3px;
    left: 2%;
    right: 2%;
    background-color: #3ed100;
    border-radius: 6px;
    border: none;
    color: white;
    font-size: 20px;
    opacity: 0.8;
    transition: 0.3s;
}

    .game-info-play-btn:hover {
        opacity: 1;
    }

.game-star-rating {
    height: 25px;
    width: 140px;
    position: absolute;
    bottom: 47px;
    left: 15px;;
}

.game-number-rating {
    height: 25px;
    position: absolute;
    bottom: 47px;
    left: 160px;
    line-height: 30px;
    font-size: 20px;
}