<template>
    <div>
        <hr class="ratings-hr" />
        <div class="ratings-section">
            <div v-if="isAuthenticated == true" class="add-rating-section">
                <div class="media">
                    <div class="media-left">
                        <img :src="avatarPath" class="media-object" style="width:80px">
                    </div>
                    <div class="media-body">
                        <div id="add-rating-stars-container">
                            <img :src="'/media/stars/'+currentRating*2+'.png'" class="img-responsive" id="rating-stars"/>
                            <div class="add-rate" id="add-rate-1"></div>
                            <div class="add-rate" id="add-rate-2"></div>
                            <div class="add-rate" id="add-rate-3"></div>
                            <div class="add-rate" id="add-rate-4"></div>
                            <div class="add-rate" id="add-rate-5"></div>
                            <button class="btn btn-default" id="post-rating" @click="postGameRating">Send</button>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" v-model="newGameRating.comment" rows="3" id="rating-comment"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else="">You need to be logged in to post a rating.</div>
            <div class="user-ratings-section">
                <div v-for="rating in gameRatings" class="media">
                    <div class="media-left">
                        <img :src="rating.user.avatarPath" class="media-object" style="width:60px">
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading"><img :src="'/media/stars/'+rating.rating*2+'.png'" style="height:20px" />
                            <span> on {{ rating.date | formatDate }} by {{rating.user.userName}}</span>
                            <a  v-if="username == rating.user.userName" @click="deleteGameRating(rating.id)"  class="remove-rating-link">Remove</a>
                        </h5>
                        <div class="user-rating-comment">
                            {{rating.comment}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</template>

<script src="./game_ratings.ts"></script>
<style src="./game_ratings.css" />