.ratings-section {
    margin: auto;
    max-width: 800px;
    min-width: 360px;
}

.ratings-hr {
    width: 95%;
    border: solid 1.5px #b62020;
}

.user-ratings-section {
    margin-top: 30px;
    margin-bottom: 50px;
}

#add-rating-stars-container {
    height: 35px;
    min-width: 265px;
    position: relative;
    margin-bottom: 5px;
}

#rating-stars {
    height: 35px;
    width: 175px;
    position: absolute;
    left: 0;
    top: 0;
}

#post-rating {
    width: 85px;
    height: 35px;
    position:absolute;
    background-color: #b62020;
    color: white;
    top: 0;
    right: 0;
}

#rating-comment {
    resize: none;
}

.remove-rating-link {
    color: red;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 10px;
    text-align: right;
}
    .remove-rating-link:hover {
        color: darkred;
    }

.add-rate {
    height: 35px;
    width: 35px;
    position: absolute;
    top: 0;
    cursor: pointer;
}

#add-rate-1 {
    left: 0;
}

#add-rate-2 {
    left: 35px;
}

#add-rate-3 {
    left: 70px;
}

#add-rate-4 {
    left: 105px;
}

#add-rate-5 {
    left: 140px;
}

