<template>
    <div>
        <div class="home-container">
            <div>
                <img class="img-responsive welcome-text" src="/media/home/welcome.png" />
            </div>
            <div>
                <img class="img-responsive sitename-text" src="/media/home/gamesonline.png" />
            </div>
            <div class="home-description">
                <h1>Here you can:</h1>
                <ul >
                    <li>Play amazing games</li>
                    <li>Compete with other players or friends</li>
                    <li>Work your way up game rankings</li>
                    <li>Rate games</li>
                </ul>
            </div>
        </div>
    </div>
</template>

<style src="./home.css" />